# Игнорируем временные файлы, создаваемые различными приложениями
Thumbs.db
desktop.ini
*.tmp
*.swp

# Игнорированные папки, создаваемые IDE и инструментами
.vscode/
.idea/
.vs/

# Игнорируем файлы кеша и сборки
*.log
*.sync
*.orig
*.bak
*.old
build/
dist/

# Игнорируем файлы, создаваемые операционной системой
$RECYCLE.BIN/
System Volume Information/

# Игнорируем файлы, связанные с базами данных
*.sqlite
*.db

# Игнорируем файлы, связанные с тестами
*.pytest_cache/
test/
tests/

# Игнорируем файлы, связанные с виртуальными окружениями
venv/
env/

# Игнорируем файлы, связанные с пакетами
package-lock.json
yarn.lock

# Игнорируем файлы, связанные с редакторами кода
.DS_Store